html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.card {
  width: 50%;
  height: 30%;
  font-size: 200px;
  border: 2px solid black;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.stock-side {
  width: 20%;
  display: flex;
  flex-direction: row;
}

.foundation {
  width: 12.5%;
  height: 30%;
  margin-left: 10px;
  font-size: 200px;
  border: 2px solid black;
  align-items: center;
}

.foundations {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
