html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.card {
  width: 144px;
  height: 215px;

  font-size: 200px;
  border: 2px solid black;
  
  align-items: center;
}

.stock-side {
  width: 288px;
  height: 215px;

  display: flex;
  flex-direction: row;
}

.foundation {
  width: 144px;
  height: 215px;

  font-size: 200px;
  border: 2px solid black;

  margin-left: 10px;
  align-items: center;
}

.foundations {
  width: 1152px;
  height: 215px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
